@font-face {
  font-family: "Raleway";
  src: url("fonts/static/Raleway-Regular.ttf");
  src: url("Fonts/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  display: block;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1440px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Raleway", "Trebuchet MS", Arial, sans-serif;
}
#bloc_page {
  display: block;
  max-width: 1400px;
  height: 100%;
  margin: auto;
}
main {
  display: flex;
  flex-direction: column;
}
/* Logo et menu */
#logo {
  grid-area: logo;
}
#logo img {
  padding: 30px 0;
  height: 35px;
  width: 100px;
}
#logo_nav {
  display: grid;
  grid-template-columns: 2fr 1fr auto auto;
  grid-template-areas: "logo logo navbar signup";
}
#navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: navbar;
  align-items: center;
  width: 400px;
  height: auto;
  font-weight: bold;
  font-size: 0.9em;
}
.nav-item {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.nav-item a {
  color: black;
}
.nav-item a:hover,
.nav-item a:focus {
  color: #0065fc;
}
.nav-item:hover,
.nav-item:focus {
  border-top: 3px solid #0065fc;
}
.nav-signup {
  display: flex;
  justify-content: right;
  align-items: center;
  grid-area: signup;
  padding: 30px 0px;
  width: 100px;
}
.nav-signup a {
  font-weight: bold;
  color: #0065fc;
}
.nav-signup a:hover {
  border-bottom: solid 2px #0065fc;
}
/* Info */
section {
  padding-left: 10px;
  padding-right: 10px;
}
#trouvez {
  font-size: 1.1em;
  line-height: 0.7;
  margin-top: 40px;
}
/* Bouton de recherche */
#bouton {
  display: flex;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
}
#marker .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  height: 55px;
  width: 53px;
  border-radius: 15px 0px 0px 15px;
}
input {
  display: flex;
  align-items: center;
  height: 55px;
  width: 170px;
  padding-left: 5px;
  font-size: 1em;
  border: 1.5px solid #deebff;
  outline: none;
}
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 55px;
  font-size: 1em;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
}
#search .button,
#search .fa-search {
  color: white;
}
#search .fa-search {
  display: none;
}
#search .button {
  display: inline-block;
}

/* Filtres */
#filters {
  display: flex;
  align-items: baseline;
}
.title {
  font-weight: bold;
  font-size: 1.1em;
}
#filters .button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 10px;
}
.button a {
  margin-bottom: 10px;
}
.filter {
  position: relative;
  display: flex;
  height: 24px;
  padding: 10px;
  padding-left: 60px;
  padding-right: 30px;
  margin-left: 40px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
}
.filter:hover {
  background-color: #deebff;
}
.filter > .icon {
  position: absolute;
  top: -1px;
  left: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  background: #deebff;
  height: 47.3px;
  width: 47.3px;
  border-radius: 50%;
}
/* Point Info */
.text {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  border: 1px solid grey;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 0.6em;
}
#information .text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  font-size: 0.7em;
}
/* Hébergements */
.héb_container {
  display: flex;
  flex-wrap: wrap;
}
h3 {
  font-size: 1.3em;
}
#hébergements {
  display: flex;
  flex-direction: column;
  width: 840px;
  height: 620px;
  background-color: #f2f2f2;
  padding-right: 40.5px;
  padding-left: 40.5px;
  padding-top: 25px;
  border-radius: 20px;
}
#hébergements .title {
  padding-left: 10px;
}
#hébergements .box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 850px;
  height: 436.2px;
  padding: 0;
}
#hébergements .card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 194.5px;
  margin: 11px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}
#hébergements img {
  width: 242px;
  height: 110.3px;
  border-radius: 20px 20px 0px 0px;
  padding: 4px;
  object-fit: cover;
}
#hébergements .card-body {
  display: flex;
  flex-direction: column;
  height: 78.8px;
  padding-left: 10px;
}
#hébergements .card-title {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1em;
  height: 20px;
}
#hébergements .card-text {
  display: flex;
  align-items: center;
  color: black;
  font-size: 0.8em;
  height: 15px;
}
#hébergements .ratings {
  display: flex;
  align-items: center;
  height: 10px;
  font-size: 0.7em;
  padding-top: 8px;
}
a {
  text-decoration: none;
}
main a:hover {
  transform: scale(1.1);
  transition: 0.6s;
}
.ratings .fas {
  color: #0065fc;
}
.ratings .checked {
  color: #deebff;
}
.euro::after {
  content: "€";
  font-weight: bolder;
}
#plus {
  height: 100px;
  font-size: 1em;
  font-weight: bolder;
  color: black;
  margin-top: 20px;
  padding-left: 15px;
}
#plus a {
  color: black;
}
#plus a:hover {
  color: #0065fc;
}

/* Populaire */
#Populaire {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 620px;
  background-color: #f2f2f2;
  margin-left: 26.25px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 25px;
  border-radius: 20px;
}
#Populaire .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 499.2px;
  margin-left: 20px;
}
#Populaire .card {
  display: flex;
  width: 350px;
  height: 145px;
  background-color: white;
  padding-right: 5px;
  border-radius: 20px 20px 20px 20px;
}
#Populaire img {
  width: 129px;
  height: 136.6px;
  border-radius: 20px 0px 0px 20px;
  margin: 4px;
  object-fit: cover;
}
#Populaire .card-body {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
}
#Populaire h4 {
  display: flex;
  align-items: center;
  color: black;
  margin: 5px 0;
  font-size: 1em;
  height: 20px;
}
#Populaire .card-text {
  display: flex;
  align-items: center;
  color: black;
  font-size: 0.8em;
  height: 40px;
}
#Populaire .ratings {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  margin-top: 25px;
}
#Populaire .title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 25px 10px 20px;
}
.fa-chart-line {
  font-size: 1.5rem;
}
/* Activités */
#activités {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
#activités .box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 450px;
  width: 100%;
}
#activités .card-title {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1em;
  height: 20px;
  padding-left: 20px;
  padding-top: 5px;
}
#activités a {
  width: 23%;
}
#activités .card {
  width: 100%;
}
#card1,
#card4 {
  height: 447px; 
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #f2f2f2;
  margin-right: auto;
}
#card1 img,
#card4 img {
  height: 390px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
#card2 {
  height: 237px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #f2f2f2;
  margin-right: auto;
}
#card2 img {
  height: 179px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
#card3 {
  height: 163px;
  border-radius: 20px 20px 20px 20px;
  margin-top: 40px;
  background-color: white;
  box-shadow: 5px 5px 5px #f2f2f2;
  margin-right: auto;
}
#card3 img {
  height: 105.1px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
#card5 {
  height: 195px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #f2f2f2;
}
#card5 img {
  height: 131.5px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
#card6 {
  height: 211px;
  border-radius: 20px 20px 20px 20px;
  margin-top: 40px;
  background-color: white;
  box-shadow: 5px 5px 5px #f2f2f2;
}
#card6 img {
  height: 152.5px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 150px;
  background-color: #f2f2f2;
}
.foot {
  padding: 0 20px 15px 25px;
}
.foot span a {
  font-size: 0.8em;
  color: black;
}
.foot a:link {
  text-decoration: none;
}
.foot span a:hover {
  color: #0065fc;
}
h5 {
  margin-bottom: 5px;
}

/* Responsive media */
@media screen and (max-width: 1370px) {
   .héb_container {
    flex-direction: column;
  }
  /* Populaire -1370px */
  #Populaire {
    width: 95%;
    padding: 0 10px;
    height: 250px;
    order: -1;
    margin: 5px;
  }
  #Populaire .title {
    padding: 0 30px 0 30px;
  }
  #Populaire .box {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 99%;
  }
  #Populaire a {
    width: 31%;
  }
  #Populaire .card {
    width: 100%;
  }
  #Populaire .card-image {
    max-width: 40%;
  }
  #Populaire img {
    width: 100%;
  }
  #Populaire h3 {
    padding-right: 0;
  }
  /* Hébergements -1370px */
  #hébergements {    
    width: 95%;
    padding: 0 10px;
    margin: 5px;
    }
  #hébergements .title {
    padding: 0 30px 0 30px;
  }
  #hébergements h3 {
    margin: 20px 0;
  }
  #hébergements .box {
    justify-content: space-around;
    width: 100%;
  }
  #hébergements img {
    width: 98%;
  }
  #hébergements a {
    width: 32%;
  }
  #hébergements .card {
    width: 100%;
    box-shadow: 5px 5px 5px #f2f2f2;
  }
  #activités {
    height: 100%;
    width: 95%;
    margin: 5px;
}
#activités .box {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main a:hover {
    transform: none;
  }
  /* Populaire -768px */
  #Populaire {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0;
    border-radius: 0;
  }
  #Populaire .box {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
  }
  #Populaire a,
  #Populaire .card {
    width: 100%;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 1.1em;
  }
  /* Hébergements -768px */
  #hébergements {
    height: 100%;
    padding: 0;
    background-color: white;
  }
  #hébergements .box {
    height: 100%;
    flex-direction: row;
  }
  #hébergements a {
    width: 45%;
  }
  #hébergements .card {
    width: 100%;
  }  
  /* Activités -768px */
  #activités {
    height: 100%;
  }
  #activités .box {
    flex-direction: row;
    height: 100%;
  }
  #activités a {
    width: 45%;
    height: 195px;
    margin: 10px;
  }
  #activités .card {
    height: 100%;
    margin: 0;
  }
  #activités img {
    height: 131.5px;
  }
  /* Footer -768px */
  .foot span a {
    font-size: 0.7em;
  }
  }
@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }
  /* Logo et menu -600px */
  #logo_nav {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "logo . signup"
      "navbar navbar navbar";
  }
  #navbar {
    width: 100%;
  }
  .nav-item {
    padding: 0;
  }
  .nav-item {
    justify-content: space-evenly;
    padding-bottom: 20px;
  }
  .nav-item:hover,
  .nav-item:focus {
    border-bottom: solid #0065fc;
    border-top: none;
  }
  .nav-signup {
    padding-right: 10px; 
  }
  /* Bouton de recherche -600px */
  #bouton {
    position: relative;
    justify-content: center;
    width: 300px;
    margin: 20px 5px;     
  }
  #search {
    position: absolute;
    right: 0;
    width: 55px;
    border-radius: 15px;
  }
  #search .fa-search {
    display: inline-block;
  }
  #search .button {
    display: none;
  }
  #trouvez {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 20px;
    font-size: 0.8em;
    line-height: 1.15;
  }
  input {
    width: 180px;
    border-right: none;
  }
  #filters {
    flex-wrap: wrap;
  }
  .title {
    padding-left: 40px;
  }
  /* Hébergements -600px */
  #hébergements {
    height: 100%;
  }
  #hébergements .box {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
  }
  #hébergements a {
    width: 100%;
  }
  /* Activités -600px */
  #activités a {
    width: 100%;
  }
   /* Footer -600px */
  Footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
  }
  .foot {
    padding: 0 0 0 10px;
  }
  .foot span a {
    font-size: 0.6em;
  }
}}